body{

    background-color:aliceblue;
    color:black;

}

h1{
    color: black;
    font-size: 200%;
    font-family: Arial;

}

.q{
    background-color: aquamarine;
    color:darkmagenta;
    text-align: center;
}

.g{
    text-align: right;
}

a{
    text-decoration: none;
}

.j{
    border: 22px solid red;
    
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 30px;
    
}

td :nth-child(2), td :nth-child(3) {
    text-align: center;
}
td, th {
    width: 300px;
}

th:nth-child(1) {
    text-align: left;
}

td:nth-child(2), td:nth-child(3) {
    text-align: center;
}

th:nth-child(4), td:nth-child(4) {
    text-align: right;
}

tr:nth-child(even) {
    background-color: blue;
}

tr:nth-child(odd) {
    background-color: darkmagenta;
}

tr:nth-child(1) {
    background-color: gray;
}

