body{

    background-color:dimgray;
    color:black;

}

h1{
    color: black;
    font-size: 200%;
    font-family: Arial;

}

.q{
    background-color: aquamarine;
    color:darkmagenta;
    text-align: center;
}

.g{
    text-align: right;
}

a{
    text-decoration: none;
}

.j{
    border: 22px solid red;
    
}
